Repository webcomponents/polyfills, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azakus, @bicknellr, @sorvell

.github/CODEOWNERS:

packages/custom-elements/ @azakus @bicknellr
packages/html-imports/ @azakus
packages/shadycss/ @azakus
packages/shadydom/ @azakus @sorvell
packages/template/ @azakus
packages/url/ @azakus
packages/webcomponentsjs/ @azakus

GitHub Action to require PRs to touch a CHANGELOG
  .github/workflows/changelog.yml
Owners: none

Fake changelog change
  packages/custom-elements/CHANGELOG.md
Owners: @azakus, @bicknellr

remove changelog
  packages/custom-elements/CHANGELOG.md
Owners: @azakus, @bicknellr

Check for Skip Changelog label
  .github/workflows/changelog.yml
Owners: none

fake changelog change
  packages/template/CHANGELOG.md
Owners: @azakus

show diff
  .github/workflows/changelog.yml
Owners: none

remove fake changelog change
  packages/template/CHANGELOG.md
Owners: @azakus

check
  .github/workflows/changelog.yml
Owners: none

fake change
  packages/template/CHANGELOG.md
Owners: @azakus

GitHub Action to require PRs to touch a CHANGELOG
  .github/workflows/changelog.yml
Owners: none

Add performance section to shady parts README
  packages/shadycss/shadow-parts.md
Owners: @azakus

Document why we git fetch
  .github/workflows/changelog.yml
Owners: none

--amend
  .github/workflows/changelog.yml
Owners: none

Add build:watch script to all packages
  package-lock.json
  package.json
  packages/custom-elements/package.json
  packages/html-imports/package.json
  packages/shady-css-scoped-element/package.json
  packages/shadycss/package.json
  packages/shadydom/package.json
  packages/template/package.json
  packages/url/package.json
  packages/webcomponentsjs/package.json
Owners: @azakus, @bicknellr, @sorvell
